{% extends 'main/header.html' %}

{% block content %}
  <div class="row">
        <div class="col s12 m8">
            <h3>{{ tutorial.title }}</h3>
            <p style="font-size: 70%">Published {{ tutorial.published }}</p>
            {{ tutorial.content|safe }}
        </div>
        <div class="col s12 m4">
            <ul class="collapsible popout">
                {% for tutorial in sidebar %}
                {% if forloop.counter0 == this_tutorial_idx %}
                    <li class="active">
                        <div class="collapsible-header">{{ tutorial.title }}<br>(currently viewing)</div>
                    </li>
                {% else %}
                <li>
                    <div class="collapsible-header">{{ tutorial.title }}</div>
                    <div class="collapsible-body">
                        <p><a href="/{{ tutorial.slug }}">
                            {{ tutorial.published }}
                            <button class="btn waves-effect waves-light right-align">Go</button>
                        </a></p>

                    </div>

                </li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
  </div>

{% endblock %}

